.register{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 300px;
    align-items: center;
}

.register__text {
    font-size: 30px;
    color: #579BB1;
    margin-top: 2%;
}

.login__button {
    margin-top: 3%;
    width: 62%;
    height: 12%;
    background-color: #579BB1;
    border: 1px solid #468AA0;
    color: #ECE8DD;
    font-weight: bold;
    border-radius: 5px;
}

.login__button:hover {
    background-color: #ECE8DD;
    border: 1px solid #468AA0;
    color: #579BB1;
    transition: 0.2s;
}

.login__button:active {
    background-color: #E1D7C6;
}

.login__button[disabled=disabled], .login__button:disabled {
    background-color: #DDD;
    border-color: #BBB;
    transition: 0.1s;
    color: #ECE8DD;
    cursor: not-allowed;
}