.input {
    margin-top: 3%;
    width: 60%;
    border: 1px solid #ECE8DD; 
    border-radius: 5px;
    padding: 5px;
}

.invalid {
    border-color: red;
}

.invalid__message {
    border: none;
    color: red;
    text-align: left;
    width: 60%;
}